# Cleaning: Flight Delays

This data set comes from the featured Kaggle datasets, containing three tables that relate to commercial airline flights. The flight delay and cancellation data was collected and published by the DOT's Bureau of Transportation Statistics.

**There are three tables:**

* airlines : contains airline IATA codes with corresponding airline names
* airports : contains
    IATA_CODE:
    Location Identifier
    String

    AIRPORT:
    Airport's Name
    String

    CITY:
    City Name of the Airport
    String

    STATE:
    State Name of the Airport
    String

    COUNTRY:
    Country Name of the Airport
    String

    LATITUDE:
    Latitude of the Airport
    Numeric

    LONGITUDE:
    Longitude of the Airport
    Numeric
* flights : contains many features with descriptions that can be found [here](https://www.kaggle.com/usdot/flight-delays), by selecting flights.csv in the data and clicking on Edit descriptions above the data preview.

## 1. Convert column names to lower case (it's a pain to keep typing upper case column names)

In [1]:
import pandas as pd
import numpy as np

flights = pd.read_csv('flights/flights_sm_raw.csv')
airlines = pd.read_csv('flights/airlines.csv')
airports = pd.read_csv('flights/airports.csv')

In [2]:
f_names = [name.lower() for name in list(flights.columns)]
l_names = [name.lower() for name in list(airlines.columns)]
p_names = [name.lower() for name in list(airports.columns)]

flights.columns = f_names
airlines.columns = l_names
airports.columns = p_names

In [3]:
flights.head()

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,...,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
0,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,1674,N853AA,LAS,MIA,35,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,DL,1560,N3743H,ANC,SEA,45,...,451.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,100,...,939.0,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AA,115,N3CTAA,LAX,MIA,105,...,839.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airlines.head()

  iata_code                 airline
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [5]:
airports.head()

,iata_code,airport,city,state,country,latitude,longitude
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

## 2. Remove all rows that have null values for critical features
- critical features are those that are needed to compute missing values
- you need to determine the sets of features that are go together for computing values

In [6]:
flights.iloc[0:5, 9:23]

,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay
0,30,44.0,14.0,13.0,57.0,273.0,249.0,228.0,2125,745.0,8.0,803,753.0,-10.0
1,35,27.0,-8.0,21.0,48.0,268.0,266.0,238.0,2174,746.0,7.0,803,753.0,-10.0
2,45,31.0,-14.0,25.0,56.0,210.0,200.0,171.0,1448,447.0,4.0,515,451.0,-24.0
3,100,52.0,-8.0,30.0,122.0,338.0,347.0,311.0,2724,933.0,6.0,938,939.0,1.0
4,105,103.0,-2.0,14.0,117.0,286.0,276.0,255.0,2342,832.0,7.0,851,839.0,-12.0

1. YEAR: **critical**
1. MONTH: **critical**
1. DAY: **critical**
1. DAY_OF_WEEK: may be derived from year, month and day
1. AIRLINE: **critical**
1. FLIGHT_NUMBER: **critical**
1. TAIL_NUMBER: **critical**
1. ORIGIN_AIRPORT: **critical**
1. DESTINATION_AIRPORT: **critical**
1. SCHEDULED_DEPARTURE: **critical**, timepoint
1. DEPARTURE_TIME = WHEELS_OFF - TAXI_OUT: **critical**, timepoint; we'll derive taxi_out from here
1. DEPARTURE_DELAY = DEPARTURE_TIME-SCHEDULED_DEPARTURE
1. TAXI_OUT: derived from departure_time and wheels_off
1. WHEELS_OFF: **critical**, timepoint
1. SCHEDULED_TIME = SCHEDULED_ARRIVAL-SCHEDULED_DEPARTURE: **critical** cannot calculate because of timezones
1. ELAPSED_TIME = AIR_TIME+TAXI_IN+TAXI_OFF
1. AIR_TIME = WHEELS_OFF - WHEELS_ON: **critical** cannot calculate because of timezones
1. DISTANCE: **critical**
1. WHEELS_ON: **critical**, timepoint
1. TAXI_IN: derived from arrival_time and wheels_on
1. SCHEDULED_ARRIVAL: **critical**, timepoint
1. ARRIVAL_TIME = WHEELS_ON+TAXI_IN: **critical**, timepoint
1. ARRIVAL_DELAY = ARRIVAL_TIME-SCHEDULED_ARRIVAL
1. DIVERTED: **critical**
1. CANCELLED: **critical**
1. CANCELLATION_REASON: **critical**
1. AIR_SYSTEM_DELAY: ?
1. SECURITY_DELAY: ?
1. AIRLINE_DELAY: ?
1. LATE_AIRCRAFT_DELAY: ?
1. WEATHER_DELAY: ?

In [7]:
flights.iloc[:, 9:23].describe()

,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay
count,662804.000000,576651.000000,576651.000000,573757.000000,573757.000000,662798.000000,571395.000000,571395.000000,662804.000000,572641.000000,572641.00000,662804.000000,572641.000000,571395.000000
mean,1334.697796,1335.741712,9.665097,16.055921,1356.680891,139.527372,136.861871,113.388771,802.052239,1470.117538,7.43266,1496.783230,1475.421535,4.404344
std,485.897622,496.812987,37.730697,8.847659,498.284208,74.158283,74.173957,72.182318,598.923492,522.510025,5.62852,509.641339,526.463841,39.078085
min,1.000000,1.000000,-45.000000,1.000000,1.000000,18.000000,15.000000,7.000000,21.000000,1.000000,1.00000,1.000000,1.000000,-82.000000
25%,919.000000,921.000000,-5.000000,11.000000,935.000000,85.000000,82.000000,60.000000,363.000000,1054.000000,4.00000,1109.000000,1058.000000,-13.000000
50%,1330.000000,1330.000000,-2.000000,14.000000,1342.000000,120.000000,118.000000,94.000000,632.000000,1507.000000,6.00000,1523.000000,1511.000000,-5.000000
75%,1735.000000,1740.000000,7.000000,19.000000,1754.000000,170.000000,168.000000,144.000000,1037.000000,1911.000000,9.00000,1922.000000,1916.000000,8.000000
max,2359.000000,2400.000000,1521.000000,185.000000,2400.000000,718.000000,718.000000,669.000000,4983.000000,2400.000000,175.00000,2400.000000,2400.000000,1499.000000

In [8]:
critical = ['scheduled_departure', 'departure_time', 'wheels_off', 'scheduled_time', 'air_time', 'wheels_on', 'scheduled_arrival', 'arrival_time']

for i in range(8):
    flights.drop(flights[flights[critical[i]].isnull()].index, inplace=True)

len(flights)

571395

## 3. Convert times from float values to full 24-hour time format strings

In [9]:
times = ['scheduled_departure', 'departure_time', 'wheels_off', 'wheels_on', 'scheduled_arrival', 'arrival_time']
for i in range(6):
    flights[times[i]] = flights[times[i]].apply(lambda x: ('0000' + str(int(x)))[-4:-2] + ':' + ('0000' + str(int(x)))[-2:] + ':00')

flights[times].head()

,scheduled_departure,departure_time,wheels_off,wheels_on,scheduled_arrival,arrival_time
0,00:30:00,00:44:00,00:57:00,07:45:00,08:03:00,07:53:00
1,00:35:00,00:27:00,00:48:00,07:46:00,08:03:00,07:53:00
2,00:45:00,00:31:00,00:56:00,04:47:00,05:15:00,04:51:00
3,01:00:00,00:52:00,01:22:00,09:33:00,09:38:00,09:39:00
4,01:05:00,01:03:00,01:17:00,08:32:00,08:51:00,08:39:00

## 4. Convert new hour strings to datetime objects
- Test the function and determine the cause of (and fix) any errors

In [16]:
# hour must be in 0..23
for col in times:
    print(col)
    print(flights[flights[col] > '23:59:59'][col].unique())

scheduled_departure
[]
departure_time
['24:00:00']
wheels_off
['24:00:00']
wheels_on
['24:00:00']
scheduled_arrival
[]
arrival_time
['24:00:00']

In [34]:
def convert_dt(year, month, day, time):
        if time == '24:00:00':
            timestamp = pd.to_datetime(str(year) + '-' + str(month) + '-' + str(day) + ' ' + '00:00:00') + pd.Timedelta(1, unit='D')
        else:
            timestamp = pd.to_datetime(str(year) + '-' + str(month) + '-' + str(day) + ' ' + time)
        return timestamp

for i in range(6):
    flights[times[i]] = flights.apply(lambda x: convert_dt(x['year'], x['month'], x['day'], x[times[i]]), axis=1)

In [35]:
flights[times].head()

,scheduled_departure,departure_time,wheels_off,wheels_on,scheduled_arrival,arrival_time
0,2015-01-01 00:30:00,2015-01-01 00:44:00,2015-01-01 00:57:00,2015-01-01 07:45:00,2015-01-01 08:03:00,2015-01-01 07:53:00
1,2015-01-01 00:35:00,2015-01-01 00:27:00,2015-01-01 00:48:00,2015-01-01 07:46:00,2015-01-01 08:03:00,2015-01-01 07:53:00
2,2015-01-01 00:45:00,2015-01-01 00:31:00,2015-01-01 00:56:00,2015-01-01 04:47:00,2015-01-01 05:15:00,2015-01-01 04:51:00
3,2015-01-01 01:00:00,2015-01-01 00:52:00,2015-01-01 01:22:00,2015-01-01 09:33:00,2015-01-01 09:38:00,2015-01-01 09:39:00
4,2015-01-01 01:05:00,2015-01-01 01:03:00,2015-01-01 01:17:00,2015-01-01 08:32:00,2015-01-01 08:51:00,2015-01-01 08:39:00

## 5. Fill in missing values that can be calculated from subsets (our critical features)

In [54]:
calculated = ['departure_delay', 'taxi_out', 'elapsed_time', 'taxi_in', 'arrival_delay']

# departure_delay = departure_time - scheduled_departure
# taxi_out: wheels_off - departure_time
# elapsed_time = air_time + taxi_in + taxi_out
# taxi_in: arrival_time - wheels_on
# arrival_delay = arrival_time - scheduled_arrival

flights[calculated[0]] = (flights['departure_time'] - flights['scheduled_departure']).astype('timedelta64[m]')
flights[calculated[1]] = (flights['wheels_off'] - flights['departure_time']).astype('timedelta64[m]')
flights[calculated[3]] = (flights['arrival_time'] - flights['wheels_on']).astype('timedelta64[m]')
flights[calculated[4]] = (flights['arrival_time'] - flights['scheduled_arrival']).astype('timedelta64[m]')

flights[calculated[2]] = flights['air_time'] + flights['taxi_in'] + flights['taxi_out']

In [55]:
flights[calculated].head()

   departure_delay  taxi_out  elapsed_time  taxi_in  arrival_delay
0             14.0      13.0         249.0      8.0          -10.0
1             -8.0      21.0         266.0      7.0          -10.0
2            -14.0      25.0         200.0      4.0          -24.0
3             -8.0      30.0         347.0      6.0            1.0
4             -2.0      14.0         276.0      7.0          -12.0

In [56]:
flights[calculated].describe()

,departure_delay,taxi_out,elapsed_time,taxi_in,arrival_delay
count,571395.000000,571395.000000,571395.000000,571395.000000,571395.000000
mean,5.193021,12.409776,128.930965,3.132418,-9.874815
std,78.485585,72.643602,126.866389,78.475876,163.432709
min,-1438.000000,-1435.000000,-2797.000000,-1438.000000,-1438.000000
25%,-5.000000,11.000000,82.000000,4.000000,-14.000000
50%,-2.000000,14.000000,117.000000,6.000000,-5.000000
75%,7.000000,19.000000,167.000000,9.000000,7.000000
max,1435.000000,185.000000,718.000000,175.000000,1439.000000

## 6. Filter out rows that contain numeric airport codes
- there is a mix of character IATA codes and numeric strings

In [84]:
flights.reset_index()[['index', 'origin_airport']].head(10)

   index origin_airport
0      0            LAX
1      1            LAS
2      2            ANC
3      3            SEA
4      4            LAX
5      5            LAS
6      7            SLC
7      9            ANC
8     10            PHX
9     11            SJU

In [87]:
unmatched = pd.merge(flights.reset_index()[['index', 'origin_airport']], airports, left_on='origin_airport', right_on='iata_code', how='left').set_index('index')

flights.drop(unmatched[unmatched['iata_code'].isnull()].index, inplace=True)

In [91]:
unmatched = pd.merge(flights.reset_index()[['index', 'destination_airport']], airports, left_on='destination_airport', right_on='iata_code', how='left').set_index('index')
unmatched[unmatched['iata_code'].isnull()]

Empty DataFrame
Columns: [destination_airport, iata_code, airport, city, state, country, latitude, longitude]
Index: []

In [88]:
len(flights)

522965

In [103]:
flights.query('(cancellation_reason != cancellation_reason) and (air_system_delay != air_system_delay)')

,year,month,day,day_of_week,airline,flight_number,tail_number,origin_airport,destination_airport,scheduled_departure,...,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
0,2015,1,1,4,US,2013,N584UW,LAX,CLT,2015-01-01 00:30:00,...,2015-01-01 07:53:00,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,1674,N853AA,LAS,MIA,2015-01-01 00:35:00,...,2015-01-01 07:53:00,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,DL,1560,N3743H,ANC,SEA,2015-01-01 00:45:00,...,2015-01-01 04:51:00,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,371,N3GXAA,SEA,MIA,2015-01-01 01:00:00,...,2015-01-01 09:39:00,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AA,115,N3CTAA,LAX,MIA,2015-01-01 01:05:00,...,2015-01-01 08:39:00,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,US,413,N571UW,LAS,CLT,2015-01-01 01:20:00,...,2015-01-01 07:54:00,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,DL,95,N320US,SLC,ATL,2015-01-01 01:40:00,...,2015-01-01 07:25:00,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,AS,144,N514AS,ANC,PDX,2015-01-01 02:00:00,...,2015-01-01 06:19:00,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,1,1,4,US,699,N172US,PHX,CLT,2015-01-01 02:20:00,...,2015-01-01 07:28:00,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,1,1,4,UA,1167,N66837,ORD,DEN,2015-01-01 05:33:00,...,2015-01-01 07:23:00,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20,2015,1,1,4,OO,5482,N934SW,SBA,DEN,2015-01-01 05:45:00,...,2015-01-01 09:29:00,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,1,1,4,B6,860,N656JB,FLL,BDL,2015-01-01 05:53:00,...,2015-01-01 08:48:00,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,1,1,4,EV,5230,N181PQ,CID,ATL,2015-01-01 05:54:00,...,2015-01-01 08:48:00,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
25,2015,1,1,4,AA,1205,N3FKAA,EWR,MIA,2015-01-01 05:59:00,...,2015-01-01 08:49:00,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
51,2015,1,1,4,AA,2204,N3GKAA,MSY,MIA,2015-01-01 06:00:00,...,2015-01-01 08:36:00,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
52,2015,1,1,4,DL,1937,N905DA,BWI,DTW,2015-01-01 06:00:00,...,2015-01-01 07:23:00,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
53,2015,1,1,4,OO,5574,N563SW,FAT,SFO,2015-01-01 06:00:00,...,2015-01-01 07:21:00,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
54,2015,1,1,4,B6,272,N556JB,FLL,LGA,2015-01-01 06:00:00,...,2015-01-01 08:43:00,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
55,2015,1,1,4,NK,925,N634NK,DFW,OAK,2015-01-01 06:00:00,...,2015-01-01 07:29:00,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
56,2015,1,1,4,EV,4768,N16987,TYS,IAD,2015-01-01 06:00:00,...,2015-01-01 07:23:00,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
57,2015,1,1,4,UA,1163,N24224,MCO,EWR,2015-01-01 06:00:00,...,2015-01-01 08:16:00,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
58,2015,1,1,4,B6,353,N570JB,JFK,PBI,2015-01-01 06:00:00,...,2015-01-01 08:36:00,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
59,2015,1,1,4,HA,202,N491HA,HNL,ITO,2015-01-01 06:00:00,...,2015-01-01 06:46:00,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
61,2015,1,1,4,DL,2417,N554NW,LAS,DTW,2015-01-01 06:00:00,...,2015-01-01 12:31:00,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
62,2015,1,1,4,MQ,3488,N620MQ,BHM,MIA,2015-01-01 06:00:00,...,2015-01-01 08:52:00,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
63,2015,1,1,4,EV,4411,N14568,MEM,EWR,2015-01-01 06:00:00,...,2015-01-01 09:18:00,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
64,2015,1,1,4,OO,5292,N971SW,DLH,ORD,2015-01-01 06:00:00,...,2015-01-01 07:32:00,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
65,2015,1,1,4,HA,113,N486HA,HNL,LIH,2015-01-01 06:01:00,...,2015-01-01 06:36:00,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
66,2015,1,1,4,F9,756,N948FR,PHX,DEN,2015-01-01 06:03:00,...,2015-01-01 07:54:00,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
75,2015,1,1,4,DL,1723,N336NB,SFO,SLC,2015-01-01 06:05:00,...,2015-01-01 08:52:00,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662770,2015,12,31,4,AS,822,N519AS,OGG,PDX,2015-12-31 21:50:00,...,2015-12-31 04:46:00,-33.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662773,2015,12,31,4,DL,1835,N6711M,ATL,SLC,2015-12-31 21:55:00,...,2015-12-31 23:52:00,1420.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662774,2015,12,31,4,DL,1412,N695DL,ATL,MCO,2015-12-31 21:59:00,...,2015-12-31 23:25:00,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662775,2015,12,31,4,UA,1131,N53441,IAD,SJU,2015-12-31 22:00:00,...,2015-12-31 02:25:00,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662776,2015,12,31,4,DL,2415,N371NB,ATL,EWR,2015-12-31 22:00:00,...,2015-12-31 23:58:00,1434.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662778,2015,12,31,4,NK,763,N625NK,MSP,LAS,2015-12-31 22:10:00,...,2015-12-31 23:35:00,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662779,2015,12,31,4,DL,2304,N839DN,ATL,TPA,2015-12-31 22:11:00,...,2015-12-31 23:29:00,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662780,2015,12,31,4,DL,2460,N833DN,ATL,LAS,2015-12-31 22:15:00,...,2015-12-31 23:37:00,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662781,2015,12,31,4,EV,5017,N870AS,ATL,MOB,2015-12-31 22:19:00,...,2015-12-31 22:23:00,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662782,2015,12,31,4,DL,1792,N1402A,SAN,ATL,2015-12-31 22:30:00,...,2015-12-31 05:11:00,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662783,2015,12,31,4,AA,632,N195UW,PHX,JFK,2015-12-31 22:30:00,...,2015-12-31 04:59:00,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662784,2015,12,31,4,WN,5460,N7834A,ATL,RIC,2015-12-31 22:40:00,...,2015-12-31 00:10:00,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662785,2015,12,31,4,DL,1366,N341NW,SAN,DTW,2015-12-31 22:45:00,...,2015-12-31 05:30:00,-34.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662786,2015,12,31,4,UA,351,N38451,SFO,SEA,2015-12-31 22:45:00,...,2015-12-31 00:33:00,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662787,2015,12,31,4,NK,128,N507NK,LAX,BWI,2015-12-31 22:45:00,...,2015-12-31 06:12:00,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662788,2015,12,31,4,B6,1816,N283JB,JFK,SYR,2015-12-31 22:50:00,...,2015-12-31 23:51:00,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662789,2015,12,31,4,UA,1568,N37465,SFO,FLL,2015-12-31 22:53:00,...,2015-12-31 07:02:00,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662790,2015,12,31,4,DL,1684,N668DN,SJC,ATL,2015-12-31 22:55:00,...,2015-12-31 06:00:00,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662791,2015,12,31,4,AA,678,N519UW,PHX,EWR,2015-12-31 22:55:00,...,2015-12-31 05:04:00,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662792,2015,12,31,4,AS,607,N459AS,LAS,SEA,2015-12-31 23:05:00,...,2015-12-31 01:14:00,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662793,2015,12,31,4,AS,167,N779AS,ANC,FAI,2015-12-31 23:05:00,...,2015-12-31 00:02:00,-1437.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662794,2015,12,31,4,UA,1110,N76516,OGG,LAX,2015-12-31 23:10:00,...,2015-12-31 05:49:00,-47.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662795,2015,12,31,4,UA,1747,N62849,SFO,MSY,2015-12-31 23:13:00,...,2015-12-31 05:18:00,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662796,2015,12,31,4,B6,1389,N531JB,EWR,SJU,2015-12-31 23:15:00,...,2015-12-31 03:36:00,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662797,2015,12,31,4,NK,640,N503NK,LAS,BOS,2015-12-31 23:20:00,...,2015-12-31 06:41:00,-39.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662799,2015,12,31,4,AA,246,N863AA,KOA,LAX,2015-12-31 23:26:00,...,2015-12-31 06:35:00,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662800,2015,12,31,4,B6,767,N346JB,MCO,PSE,2015-12-31 23:35:00,...,2015-12-31 03:10:00,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662801,2015,12,31,4,F9,1224,N202FR,LAS,MCO,2015-12-31 23:40:00,...,2015-12-31 06:46:00,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662802,2015,12,31,4,B6,136,N569JB,PHX,JFK,2015-12-31 23:55:00,...,2015-12-31 06:07:00,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
662803,2015,12,31,4,B6,98,N607JB,DEN,JFK,2015-12-31 23:59:00,...,2015-12-31 05:19:00,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

## 7. BONUS: Write a function and script to correct dates for arrivals that are overnight flights
- don't actually run this code (time consuming)

# Cleaning: Legos

colors : This file contains information on LEGO colors, including a unique ID for each color, its name, and approximate RGB value, and whether it's transparent

inventories : This table contains information on inventories, including a unique ID, it's version and the set number.

inventory_parts : This table contains information part inventories, including a unique ID number, the part number, the color of the part, how many are included and whether it's a spare.

inventory_sets : This file contains information on what inventory is included in which sets, including the inventory ID, the set number and the quantity of that inventory that are included.

part_categories : This dataset includes information on the part category (what type of part it is) and a unique ID for that part category.

parts : This dataset includes information on lego parts, including a unique ID number, the name of the part, and what part category it's from.

sets : This file contains information on LEGO sets, including a unique ID number, the name of the set, the year it was released, its theme and how many parts it includes.

themes : This file includes information on lego themes. Each theme is given a unique ID number, a name, and (if it's part of a bigger theme) which theme it's part of.

## Schema

!['lego data schema'](legos/images/downloads_schema.png)

## 1. Efficiently import all data files into a dictionary for easy access

In [105]:
tables = ['colors', 'inventories', 'inventory_parts', 'inventory_sets', 'part_categories', 'parts', 'sets', 'themes']
legos = {}

for table in tables:
    legos[table] = pd.read_csv('legos/' + table + '.csv')

In [108]:
legos['colors'].head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

## 2. Create a table that provides data that can be used to analyze colors by category
* We do not want detailed part names, part numbers, or category ID
* We also do not want any other ID values
* Make sure the color name and category name columns are labeled clearly

In [148]:
color_cat = pd.merge(legos['colors'], legos['inventory_parts'], left_on='id', right_on='color_id', how='left')
color_cat.drop(['id', 'inventory_id', 'color_id', 'is_spare'], axis=1, inplace=True)
color_cat = pd.merge(color_cat, legos['parts'], left_on='part_num', right_on='part_num', how='outer')
color_cat.drop(['part_num', 'name_y'], axis=1, inplace=True)
color_cat = pd.merge(color_cat, legos['part_categories'], left_on='part_cat_id', right_on='id', how='outer')
color_cat.drop(['part_cat_id', 'id'], axis=1, inplace=True)
color_cat = color_cat.groupby(['name_x', 'rgb', 'is_trans', 'name']).sum().reset_index()
names = ['color_name', 'rgb', 'is_trans', 'category_name', 'number']
color_cat.columns = names
color_cat.sort_values(by='number', ascending=False).head(10)

             color_name     rgb is_trans category_name   number
2479              White  FFFFFF        f        Bricks  55812.0
39                Black  05131D        f        Plates  53179.0
56                Black  05131D        f  Technic Pins  51642.0
1773                Red  C91A09        f        Bricks  48251.0
2500              White  FFFFFF        f        Plates  39571.0
2534             Yellow  F2CD37        f        Bricks  38166.0
74                 Blue  0055BF        f        Bricks  35878.0
17                Black  05131D        f        Bricks  34969.0
1052  Light Bluish Gray  A0A5A9        f        Plates  31356.0
456    Dark Bluish Gray  6C6E68        f        Plates  29883.0

## 3. Create a table that allows us to analyze set names and their themes
* Merge everything in one command
* Do not include data that will not help with this analysis (remove all of this in a second command)
    + do consider that we might later want to look at specific colors or other part details
* Rename columns where necessary

In [138]:
set_themes = pd.merge(legos['sets'], legos['themes'], left_on='theme_id', right_on='id', how='left')
set_themes.drop(['year', 'theme_id', 'num_parts', 'id'], axis=1, inplace=True)
names = ['set_num', 'set_name', 'theme_name', 'parent_theme_id']
set_themes.columns = names
set_themes

,set_num,set_name,theme_name,parent_theme_id
0,00-1,Weetabix Castle,Castle,411.0
1,0011-2,Town Mini-Figures,Supplemental,67.0
2,0011-3,Castle 2 for 1 Bonus Offer,Lion Knights,186.0
3,0012-1,Space Mini-Figures,Supplemental,126.0
4,0013-1,Space Mini-Figures,Supplemental,126.0
5,0014-1,Space Mini-Figures,Supplemental,126.0
6,0015-1,Space Mini-Figures,Supplemental,126.0
7,0016-1,Castle Mini Figures,Castle,NaN
8,00-2,Weetabix Promotional House 1,Building,411.0
9,00-3,Weetabix Promotional House 2,Building,411.0
10,00-4,Weetabix Promotional Windmill,Building,411.0
11,005-1,Basic Building Set in Cardboard,Basic Set,365.0
12,00-6,Special Offer,Classic Town,50.0
13,00-7,Weetabix Promotional Lego Village,Building,411.0
14,010-1,Basic Building Set in Cardboard,Basic Set,365.0
15,010-3,Basic Building Set,Basic Set,365.0
16,011-1,Basic Building Set,Basic Set,365.0
17,022-1,Basic Building Set,Basic Set,365.0
18,03093-1,The Race to Build It Board Game,Game,501.0
19,033-2,Basic Building Set,Basic Set,365.0
20,044-1,Basic Building Set,Basic Set,365.0
21,055-2,Basic Building Set,Basic Set,365.0
22,066-1,Basic Building Set,Basic Set,365.0
23,080-1,Basic Building Set with Train,Basic Set,365.0
24,088-1,Super Set,Basic Set,465.0
25,10000-1,Guarded Inn,Castle,NaN
26,10001-1,Metroliner,Train,NaN
27,10002-1,Railroad Club Car,Train,NaN
28,10003-1,1 x 2 Sand Red Bricks,Bulk Bricks,NaN
29,10004-1,2 x 2 Sand Red Bricks,Bulk Bricks,NaN
...,...,...,...,...
11643,TRUXWINGTIE-1,"TRU X-Wing Fighter & TIE Fighter (May 3, 2014)",Star Wars Other,158.0
11644,tsuper-1,Technic Super Set,Race,5.0
11645,Vancouver-1,"LEGO Store Grand Opening Exclusive Set, Oakrid...",LEGO Brand Store,NaN
11646,Victor-1,"LEGO Store Grand Opening Exclusive Set, Eastvi...",LEGO Brand Store,NaN
11647,Vienna-1,"LEGO Store Grand Opening Exclusive Set, SCS, W...",LEGO Brand Store,NaN
11648,VP-1,Ice Planet Co-Pack of 6814 6879 and 6898,Ice Planet 2002,126.0
11649,VP-10,Star Wars Value Pack with Free LEGO Backpack (...,Star Wars Other,158.0
11650,VP-11,Star Wars Co-Pack of 7101 7111 and 7131,Star Wars Episode 1,158.0
11651,VP-12,Star Wars Co-Pack of 7121 and 7151,Star Wars Episode 1,158.0
11652,VP-13,Launch Command Value Pack - (6336 6516 6614),Launch Command,50.0
11653,VP-14,Classic Town Value Pack Duopack (6581 6596),Classic Town,50.0
11654,VP-15,Adventurers Super Value Pack,Dino Island,296.0
11655,VP-17,Legoland Town Special Offer,Classic Town,50.0
11656,VP-2,Star Wars Co-Pack of 7110 and 7144,Star Wars Episode 4/5/6,158.0
11657,VP-3,Star Wars Co-Pack of 7131 and 7151,Star Wars Episode 1,158.0
11658,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,Star Wars Episode 1,158.0
11659,VP-5,UFO Value Pack,UFO,126.0
11660,VP-6,Building Bonanza Value Pack 4886 with 7280 & 7281,City,50.0
11661,VP-7,Fire Value Pack (6554 6407 6564),Fire,94.0
11662,VP-8,Star Wars Co-Pack of 7130 and 7150,Star Wars Episode 4/5/6,158.0
11663,VPorient-1,Orient Expedition Value Pack with LEGO Backpac...,Orient Expedition,296.0
11664,vwkit-1,Volkswagen Kit,Basic Set,365.0
11665,W098-1,"Watch Set, Classic Blue",Gear,NaN
11666,W991526-1,Homeschool Introduction to Simple and Motorize...,Technic,507.0
11667,Watford-1,"LEGO Store Grand Opening Exclusive Set, Watfor...",LEGO Brand Store,NaN
11668,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",LEGO Brand Store,NaN
11669,WHITEHOUSE-1,Micro White House,Promotional,NaN
11670,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",LEGO Brand Store,NaN
11671,WishingWell-1,Wishing Well [Toys R Us Promo],Friends,NaN
11672,wwgp1-1,Wild West Limited Edition Gift Pack,Cowboys,475.0

## 4. Create a copy of the parts table and modify it to show what sets the parts belong to

In [145]:
parts_copy = legos['parts'].copy()
parts_copy = pd.merge(parts_copy, legos['inventory_parts'], left_on='part_num', right_on='part_num', how='left')
parts_copy = pd.merge(parts_copy, legos['inventories'], left_on='inventory_id', right_on='id', how='left')
parts_copy = pd.merge(parts_copy, legos['sets'], left_on='set_num', right_on='set_num', how='left')
parts_copy.drop(['inventory_id', 'id'], axis=1, inplace=True)
names = ['part_num', 'part_name', 'part_cat_id', 'color_id', 'quantity', 'is_spare', 'version', 'set_num', 'set_name', 'year', 'theme_id', 'num_parts']
parts_copy.columns = names
parts_copy

,part_num,part_name,part_cat_id,color_id,quantity,is_spare,version,set_num,set_name,year,theme_id,num_parts
0,0687b1,Set 0687 Activity Booklet 1,17,9999.0,1.0,f,1.0,970687-1,Team Challenge Upgrade Kit,2002.0,524.0,95.0
1,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,2.0,1.0,f,1.0,080-1,Basic Building Set with Train,1967.0,366.0,710.0
2,0902,Baseplate 16 x 24 with Set 080 Small White Hou...,1,2.0,1.0,f,1.0,080-1,Basic Building Set with Train,1967.0,366.0,710.0
3,0903,Baseplate 16 x 24 with Set 080 Red House Print,1,2.0,1.0,f,1.0,080-1,Basic Building Set with Train,1967.0,366.0,710.0
4,0904,Baseplate 16 x 24 with Set 080 Large White Hou...,1,2.0,1.0,f,1.0,080-1,Basic Building Set with Train,1967.0,366.0,710.0
5,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,1.0,f,1.0,292-1,Kitchen Sink and Cupboards,1973.0,405.0,51.0
6,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,2.0,f,1.0,295-1,Secretary's Desk,1974.0,405.0,80.0
7,1,Homemaker Bookcase 2 x 4 x 4,7,4.0,3.0,f,1.0,294-1,Wall Unit,1974.0,405.0,58.0
8,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,3.0,f,1.0,260-3,Complete Living Room Set,1971.0,405.0,177.0
9,1,Homemaker Bookcase 2 x 4 x 4,7,14.0,3.0,f,1.0,263-1,Kitchen Set,1974.0,405.0,173.0
10,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,3.0,f,1.0,5235-2,Schoolroom,1982.0,405.0,232.0
11,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,3.0,f,1.0,265-1,Bathroom,1974.0,405.0,147.0
12,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,1.0,f,1.0,297-1,Nursery,1978.0,405.0,168.0
13,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,2.0,f,1.0,5233-1,Bedroom,1980.0,405.0,163.0
14,1,Homemaker Bookcase 2 x 4 x 4,7,4.0,3.0,f,1.0,268-1,Family Room,1979.0,405.0,251.0
15,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,2.0,f,1.0,261-1,Bathroom,1979.0,405.0,179.0
16,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,3.0,f,1.0,262-2,Complete Children's Room Set,1972.0,405.0,259.0
17,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,2.0,f,1.0,269-1,Kitchen,1979.0,405.0,210.0
18,1,Homemaker Bookcase 2 x 4 x 4,7,1.0,2.0,f,1.0,264-1,Living Room Set,1974.0,405.0,241.0
19,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,1.0,f,1.0,272-1,Dressing Table with Mirror,1973.0,405.0,31.0
20,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,1.0,f,1.0,261-4,Complete Kitchen Set,1971.0,405.0,157.0
21,1,Homemaker Bookcase 2 x 4 x 4,7,1.0,2.0,f,1.0,273-1,Bureau,1973.0,405.0,23.0
22,1,Homemaker Bookcase 2 x 4 x 4,7,15.0,1.0,f,1.0,293-1,Piano,1973.0,405.0,89.0
23,10,Baseplate 24 x 32,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,10016414,Sticker Sheet #1 for 41055-1,17,9999.0,1.0,t,1.0,41055-1,Cinderellaâ€™s Romantic Castle,2014.0,579.0,643.0
25,10019stk01,Sticker for Set 10019 - (43274/4170393),17,9999.0,1.0,t,1.0,10019-1,Rebel Blockade Runner - UCS,2001.0,174.0,1747.0
26,10026stk01,Sticker for Set 10026 - (44942/4184185),17,9999.0,1.0,t,1.0,10026-1,Naboo Starfighter - UCS,2002.0,172.0,187.0
27,10029stk01,Sticker for Set 10029 - (4216816),17,9999.0,1.0,t,1.0,10029-1,Lunar Lander,2003.0,387.0,468.0
28,10036stk01,Sticker for Set 10036 - (821407),17,9999.0,1.0,t,1.0,10036-1,Pizza To Go,2002.0,75.0,150.0
29,10039,Pullback Motor 8 x 4 x 2/3,44,0.0,1.0,f,1.0,30190-1,Ferrari 150Â° Italia,2012.0,114.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...
582918,zbb015,"Znap Beam 3, 1 Hole",43,0.0,9.0,f,1.0,3555-1,Jeep,1999.0,480.0,262.0
582919,zbb015,"Znap Beam 3, 1 Hole",43,4.0,6.0,f,1.0,3555-1,Jeep,1999.0,480.0,262.0
582920,zbb015,"Znap Beam 3, 1 Hole",43,14.0,8.0,f,1.0,3555-1,Jeep,1999.0,480.0,262.0
582921,zbb015,"Znap Beam 3, 1 Hole",43,2.0,2.0,f,1.0,3502-1,Bi-Wing,1998.0,480.0,24.0
582922,zbb015,"Znap Beam 3, 1 Hole",43,0.0,1.0,f,1.0,3502-1,Bi-Wing,1998.0,480.0,24.0
582923,zbb015,"Znap Beam 3, 1 Hole",43,0.0,1.0,f,1.0,3506-1,Motorbike,1999.0,480.0,26.0
582924,zbb015,"Znap Beam 3, 1 Hole",43,0.0,4.0,f,1.0,3551-1,Dino-Jet,1998.0,480.0,80.0
582925,zbb015,"Znap Beam 3, 1 Hole",43,0.0,18.0,f,1.0,3552-1,Hover Sub with motor,1998.0,480.0,126.0
582926,zbb015,"Znap Beam 3, 1 Hole",43,2.0,2.0,f,1.0,3552-1,Hover Sub with motor,1998.0,480.0,126.0
582927,zbb015,"Znap Beam 3, 1 Hole",43,4.0,3.0,f,1.0,3510-1,Polybag,1998.0,480.0,25.0
582928,zbb015,"Znap Beam 3, 1 Hole",43,0.0,7.0,f,1.0,3554-1,Helicopter,1999.0,480.0,79.0
582929,zbb015,"Znap Beam 3, 1 Hole",43,14.0,4.0,f,1.0,3554-1,Helicopter,1999.0,480.0,79.0
582930,zbb015,"Znap Beam 3, 1 Hole",43,0.0,2.0,f,1.0,3505-1,Aeroplane,1999.0,480.0,23.0
582931,zbb015,"Znap Beam 3, 1 Hole",43,14.0,4.0,f,1.0,3532-1,Jet-Ski,1998.0,480.0,27.0
582932,zbb015,"Znap Beam 3, 1 Hole",43,2.0,2.0,f,1.0,3531-1,Tri-Bike,1998.0,480.0,29.0
582933,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,11.0,f,1.0,3582-1,Ant,1999.0,480.0,258.0
582934,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,13.0,f,1.0,3581-1,Formula Z Car in Storage Case,1998.0,480.0,172.0
582935,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,6.0,f,1.0,3571-1,Blackmobile with motor,1998.0,480.0,143.0
582936,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,2.0,f,1.0,3591-1,Heli-Transport (Rota-Beast),1998.0,480.0,265.0
582937,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,4.0,f,1.0,3555-1,Jeep,1999.0,480.0,262.0
582938,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,1.0,f,1.0,3502-1,Bi-Wing,1998.0,480.0,24.0
582939,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,2.0,f,1.0,3551-1,Dino-Jet,1998.0,480.0,80.0
582940,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,2.0,f,1.0,3554-1,Helicopter,1999.0,480.0,79.0
582941,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,1.0,f,1.0,3505-1,Aeroplane,1999.0,480.0,23.0
582942,zbb018,Znap Connector 3 x 3 - 4 way C (Closed),43,14.0,2.0,f,1.0,3532-1,Jet-Ski,1998.0,480.0,27.0
582943,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,0.0,8.0,f,1.0,3581-1,Formula Z Car in Storage Case,1998.0,480.0,172.0
582944,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,14.0,4.0,f,1.0,3571-1,Blackmobile with motor,1998.0,480.0,143.0
582945,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,0.0,6.0,f,1.0,3591-1,Heli-Transport (Rota-Beast),1998.0,480.0,265.0
582946,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,0.0,5.0,f,1.0,3555-1,Jeep,1999.0,480.0,262.0
582947,zbb022,Wheel 68mm Znap Propeller (9 x 2),29,0.0,3.0,f,1.0,3531-1,Tri-Bike,1998.0,480.0,29.0

## 5. Create a copy of the set_themes table created earlier. Modify it to create a new table indicating how many transparent parts there are for each set name

In [170]:
set_themes_copy = set_themes.copy()
set_themes_copy = pd.merge(set_themes_copy, legos['inventories'], left_on='set_num', right_on='set_num', how='inner')
set_themes_copy = pd.merge(set_themes_copy, legos['inventory_parts'], left_on='id', right_on='inventory_id', how='inner')
set_themes_copy = pd.merge(set_themes_copy, legos['colors'], left_on='color_id', right_on='id', how='inner')
set_themes_copy['is_trans'] = set_themes_copy['is_trans'].apply(lambda x: 1 if x == 't' else 0)
set_themes_copy = set_themes_copy.groupby(['set_num', 'set_name', 'theme_name', 'parent_theme_id'])['quantity', 'is_trans'].sum()
set_themes_copy.reset_index(inplace=True)
names = ['set_num', 'set_name', 'theme_name', 'parent_theme_id', 'quantity', 'transparent_quantity']
set_themes_copy.columns = names
set_themes_copy

,set_num,set_name,theme_name,parent_theme_id,quantity,transparent_quantity
0,00-1,Weetabix Castle,Castle,411.0,471,0
1,00-2,Weetabix Promotional House 1,Building,411.0,147,2
2,00-3,Weetabix Promotional House 2,Building,411.0,149,0
3,00-4,Weetabix Promotional Windmill,Building,411.0,126,0
4,0011-2,Town Mini-Figures,Supplemental,67.0,12,0
5,0012-1,Space Mini-Figures,Supplemental,126.0,12,0
6,0013-1,Space Mini-Figures,Supplemental,126.0,12,0
7,0014-1,Space Mini-Figures,Supplemental,126.0,12,0
8,0015-1,Space Mini-Figures,Supplemental,126.0,18,0
9,005-1,Basic Building Set in Cardboard,Basic Set,365.0,35,0
10,010-1,Basic Building Set in Cardboard,Basic Set,365.0,57,1
11,010-3,Basic Building Set,Basic Set,365.0,77,1
12,011-1,Basic Building Set,Basic Set,365.0,145,3
13,022-1,Basic Building Set,Basic Set,365.0,110,3
14,03093-1,The Race to Build It Board Game,Game,501.0,70,4
15,033-2,Basic Building Set,Basic Set,365.0,177,3
16,044-1,Basic Building Set,Basic Set,365.0,225,4
17,055-2,Basic Building Set,Basic Set,365.0,256,4
18,066-1,Basic Building Set,Basic Set,365.0,407,4
19,080-1,Basic Building Set with Train,Basic Set,365.0,710,2
20,088-1,Super Set,Basic Set,465.0,615,6
21,1-10,Mini-Wheel Model Maker No. 1,Vehicle,411.0,86,3
22,1-11,Basic Souvenir Box,Basic Set,465.0,36,1
23,1-7,Basic Set,Basic Set,465.0,107,0
24,10-2,Universal Building Set,Basic Set,465.0,129,2
25,10-3,Locomotive Wheels,Train,443.0,8,0
26,100-1,4.5V Motor with Wheels (Small Version),4.5V,241.0,16,0
27,100-2,4.5V Motor with Wheels (Large Version),4.5V,241.0,27,0
28,10013-1,Open Freight Wagon,My Own Train,236.0,121,0
29,10014-1,Caboose,My Own Train,236.0,173,3
...,...,...,...,...,...,...
7388,comcon037-1,Batman Classic TV Series Batmobile,Batman,482.0,152,7
7389,comcon038-1,Bard the Bowman,The Hobbit,561.0,5,0
7390,comcon039-1,The Ghost Starship,Star Wars Rebels,158.0,127,2
7391,comcon046-1,All New Captain America (Sam Wilson) - San Die...,Avengers,482.0,5,0
7392,fruit1-1,Apple - Hong Kong Lego Show Promotional,Food & Drink,23.0,8,0
7393,fruit2-1,Cherry - Hong Kong Lego Show Promotional,Food & Drink,23.0,11,0
7394,fruit3-1,Grapes - Hong Kong Lego Show Promotional,Food & Drink,23.0,7,0
7395,fruit4-1,Mango - Hong Kong Lego Show Promotional,Food & Drink,23.0,6,0
7396,fruit5-1,Melon - Hong Kong Lego Show Promotional,Food & Drink,23.0,8,0
7397,fruit6-1,Orange - Hong Kong Lego Show Promotional,Food & Drink,23.0,7,0
7398,fruit7-1,Pear - Hong Kong Lego Show Promotional,Food & Drink,23.0,10,0
7399,k1062b,Set K1062 Activity Booklet,Town,507.0,1,0
7400,k34431-1,Lego Mosaic Cat,Mosaic,276.0,2127,0
7401,k34432-1,Lego Mosaic Dino,Mosaic,276.0,2847,0
7402,k34433-1,Lego Mosaic Johnny Thunder,Mosaic,276.0,2127,0
7403,k34434-1,Lego Mosaic Tiger,Mosaic,276.0,2217,0
7404,kk2vp1-1,Knights' Kingdom Value Pack 1 (with bonus wate...,Knights Kingdom II,186.0,1,0
7405,kk2vp2-1,Knights' Kingdom Value Pack 2 (with bonus wate...,Knights Kingdom II,186.0,1,0
7406,kk2vp3-1,Knights' Kingdom Value Pack 3 (with bonus wate...,Knights Kingdom II,186.0,1,0
7407,legobricks-1,Lego Bricks Box,Basic Set,365.0,2,0
7408,llca12-1,3D Witch (Legoland California),Holiday,425.0,103,0
7409,llca21-1,Sitting Santa (Legoland California),Holiday,425.0,42,0
7410,llca22-1,Santa's Sleigh (Legoland California),Holiday,425.0,76,0
7411,llca23-1,Reindeer (Legoland California),Holiday,425.0,72,1
7412,llca27-1,Legoland Pirate with Parrot (Legoland California),Pirates,425.0,70,0
7413,sw117promo-1,Darth Vader Polybag - 56. International Toy Fa...,Star Wars Episode 3,158.0,2,0
7414,sw218promo-1,Darth Vader 10 Year Anniversary Promotional Fi...,Star Wars Episode 4/5/6,158.0,2,1
7415,tech007promo-1,Technic Figure Cyber Person Promotional Polyba...,Competition,1.0,1,0
7416,tf05-1,Lego Toy Fair 2005 Star Wars V.I.P. Gala Set,Star Wars Episode 3,158.0,41,1
7417,vwkit-1,Volkswagen Kit,Basic Set,365.0,22,1